window {
    margin: 0px;
    border: 2px solid #61afef;
    background-color: #282c34;
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: #abb2bf;
    background-color: #393e48;
    border-radius: 5px;
    padding: 10px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282c34;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282c34;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #abb2bf;
}

#entry:selected {
    background-color: #393e48;
    border-radius: 5px;
}

#entry:selected #text {
    color: #61afef;
}
