window {
    font-family: 'JetBrainsMono NF';
    margin: 0px;
    border: 2px solid #cdd6f4;
    background-color: #1e1e2e;
    border-radius: 10px;
}

#input {
    margin: 10px 10px 5px 10px;
    border: none;
    color: #cdd6f4;
    background-color: #313244;
    border-radius: 5px;
    padding: 10px;
}

#inner-box {
    margin: 5px 10px 10px 10px;
    border: none;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #1e1e2e;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #45475a;
    border-radius: 5px;
}

#entry:selected #text {
    color: #cdd6f4;
}
